@import '@styles/abstract/constants';
@import '@styles/abstract/mixins';

.filter {
  width: 30rem;
  margin: 0 auto 2rem auto;
  border-color: $color-secondary-light;
  @include media-mobile {
    width: 28rem;
  }
  &__header {
    @include font($size: 1.8rem, $weight: 500);
  }
  &__item {
    &:first-child {
      margin-bottom: 1rem;
    }
  }
  &__label {
    position: relative;
    display: flex;
    padding-left: 2rem;
    @include font($size: 1.4rem, $weight: 300, $color: $color-secondary-light);
    cursor: pointer;
  }
  &__input {
    display: none;
    margin-right: 1rem;
    &:checked + .button_radio::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 0.7rem;
      height: 0.7rem;
      background-color: $color-secondary-light;
    }
  }
}

.button_radio {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 1.5rem;
  height: 1.5rem;
  border: 2px solid $color-main-dark;
}
