$color-background: #bcd2dc;
$color-main-dark: #1a204d;
$color-secondary-light: #a66672;
$color-danger: #f52f2f;
$color-light: #fff;

$desktop-width: 1200px;
$laptop-width: 992px;
$tablet-width: 768px;
$mobile-width: 576px;
