@font-face {
  font-family: 'Proxima';
  src: url('/src/assets/fonts/ProximaNova/ProximaNova-Bold.eot');
  src:
    local('Proxima Nova Bold'),
    local('ProximaNova-Bold'),
    url('/src/assets/fonts/ProximaNova/ProximaNova-Bold.eot?#iefix')
      format('embedded-opentype'),
    url('/src/assets/fonts/ProximaNova/ProximaNova-Bold.woff') format('woff'),
    url('/src/assets/fonts/ProximaNova/ProximaNova-Bold.ttf') format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: 'Proxima';
  src: url('/src/assets/fonts/ProximaNova/ProximaNova-Regular.eot');
  src:
    local('Proxima Nova Regular'),
    local('ProximaNova-Regular'),
    url('/src/assets/fonts/ProximaNova/ProximaNova-Regular.eot?#iefix')
      format('embedded-opentype'),
    url('/src/assets/fonts/ProximaNova/ProximaNova-Regular.woff') format('woff'),
    url('/src/assets/fonts/ProximaNova/ProximaNova-Regular.ttf')
      format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'Proxima';
  src: url('/src/assets/fonts/ProximaNova/ProximaNova-Light.eot');
  src:
    local('Proxima Nova Light'),
    local('ProximaNova-Light'),
    url('/src/assets/fonts/ProximaNova/ProximaNova-Light.eot?#iefix')
      format('embedded-opentype'),
    url('/src/assets/fonts/ProximaNova/ProximaNova-Light.woff') format('woff'),
    url('/src/assets/fonts/ProximaNova/ProximaNova-Light.ttf')
      format('truetype');
  font-weight: 300;
}
