@import '@styles/abstract/constants';
@import '@styles/abstract/mixins';

.navigation {
  display: flex;
  justify-content: space-between;
  padding: 2rem 1rem;
  @include media-mobile {
    flex-direction: column;
  }
}

.navigation__buttons {
  margin: 0 auto;
  display: flex;
  gap: 3rem;
  @include media-mobile {
    gap: 2rem;
    margin: 0 auto 1rem auto;
  }
}

.navigation__button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: transform 0.5s;
  &:hover {
    transform: scale(1.2);
  }
}

.navigation__text {
  @include font($size: 1.8rem, $weight: 700, $color: $color-secondary-light);
}

.pages {
  @include font($size: 1.8rem, $weight: 300, $color: $color-secondary-light);
  @include media-mobile {
    margin: 0 auto;
  }
}

.disabled {
  pointer-events: none;
  opacity: 0.4;
}
