.wrapper {
  position: relative;
  text-align: center;
  margin-bottom: 5rem;
}

.input {
  width: 30rem;
  height: 3rem;
  padding: 0.2rem 4.5rem 0.2rem 0.5rem;
  border: 2px solid rgb(19, 30, 77);
  border-radius: 1rem;
  font-size: 1.6rem;
  &:focus {
    outline: none;
  }
}

.wrapper__input {
  position: relative;
  display: inline;
}

.button_clear {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 1rem;
  height: 3rem;
  background-color: transparent;
  border: none;
  font-size: 1.4rem;
  cursor: pointer;
  &:hover {
    .button_text {
      color: red;
      transform: scale(1.2);
    }
  }
}

.button_text {
  transition:
    transform 0.5s,
    color 0.5s;
  display: inline-block;
}

.error {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.4rem;
  color: red;
}
