@import './styles/base/normalize';

html {
  font-size: 10px;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  margin: 0 auto;
  max-width: 128rem;
}

body {
  background: rgb(188, 210, 220);
}

.main {
  flex: 1;
}

h1 {
  color: rgb(26, 32, 77);
  font-size: 3rem;
  text-align: center;
  margin: 5rem 0 3rem;
}
